.c
{
    height: 80vh;
    object-fit: cover;
}
h4
{
    text-align: center;
}
h2
{
    text-align: center;
    color: brown;
    text-decoration: underline;
}
.cont
{
    display: flex;
    justify-content: space-around;
    
}
Card
{
    width: 10rem;
    height: 20rem;
}